body{
    font-family: Arial, Helvetica, sans-serif;
}

.my_hero_returnal {
    background-image: url(../img/jumbo-bg.png);
    background-position: center center;
    background-size: cover;
    height: 600px;
}

.my_button {
background-color: #CD3D0F;
}

.my_button_gray {
    background-color: #D9DADC;
    }

    
.my_card img {
    height: auto;
    width: 100%;
}

.my_card,
.my_game {
    border: none;
    background-color: rgba(0, 0, 0, 0);
}

.my_game img {
    height: auto;
    width: 100%;
}


.my_hero_it_takes_two {
    background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
    background-position: center center;
    background-size: cover;
    /* height: 600px; */
}

.games {
    background-color: #1F1F1F;
}


.my_hero_playstation_plus {
    background-color: #BEBCBB;
}

.my_hero_playstation_now {
    background-color: #161C3B;
}

.wrapper {
    max-width: 992px;
    margin: 0 auto;
}

.my_footer {
    background-color: #00439C;
}


@media (max-width: 768px) {
    section.ps5_image p {
        display: none;
    
    }
}

@media (min-width: 768px) {
    .my_card img {
        height: auto;
        width: 50%;
    }
}